<div style="text-align: center; justify-content: center;  padding: 5%; background-color: white; height: 100%;" *ngIf="selectoption!==langtwo">
  
  <img src="assets/bitcoinimage.jpg" class="imga">
  <br>
  <strong >
    <div class="divimiz">
      <ion-item>
        <ion-input placeholder="What is your name?" type="text" style="text-align: center;" [(ngModel)]="title"></ion-input>
      </ion-item>
    </div>
    <div class="divimiz">
    <ion-item >
      <ion-input placeholder="$$ Write trade money $$" type="number" style="text-align: center;" [(ngModel)]="balance"></ion-input>
    </ion-item>
    </div>
    <ion-item style="margin-bottom: 15px;">
      <ion-label>Choose Language</ion-label>
      <ion-select placeholder="Select" style="color: red;" [(ngModel)]="selectoption" >
        <ion-select-option value="TR" style="background-color: white; color:black">{{langtwo}}</ion-select-option>
        <ion-select-option value="ENG" style="background-color: white; color:black">{{langone}}</ion-select-option>
      </ion-select>
    </ion-item>
  </strong>
  <strong style="font-size: 15px; color: black;">
  Welcome the Crypto App. If are you want to buy some coin or token, you are true place.
  </strong>
  <br>
  <br>
  <div >
  <strong style="font-size: 15px; color: black;">

    Click bitcoin and enter the app.<br>
  </strong>
  
  <ion-icon name="arrow-down-circle-sharp" style="font-size: 30px; margin-top: 3px; color: black;"></ion-icon>
<br>
  <button (click)="send()" class="buttona">
    <ion-icon name="logo-bitcoin" style="font-size: 50px; color: white;"></ion-icon>
  </button>
  </div>
</div>

<div style="text-align: center; justify-content: center;  padding: 5%; background-color: white; height: 100%;" *ngIf="selectoption==langtwo">
  
  <img src="assets/bitcoinimage.jpg" class="imga">
  <br>
  <strong >
    <div class="divimiz">
      <ion-item >
        <ion-input placeholder="İsminizi yazınız..." type="text" style="text-align: center;" [(ngModel)]="title"></ion-input>
      </ion-item>
    </div>
    <div class="divimiz">
    <ion-item >
      <ion-input placeholder="İstediğiniz para miktarı? ($)" type="number" style="text-align: center;" [(ngModel)]="balance"></ion-input>
    </ion-item>
    </div>
    <ion-item style="margin-bottom: 15px;">
      <ion-label>Dil Seçiniz:</ion-label>
      <ion-select placeholder="Select" style="color: red;" [(ngModel)]="selectoption" >
        <ion-select-option value="TR" style="background-color: white; color:black">{{langtwo}}</ion-select-option>
        <ion-select-option value="ENG" style="background-color: white; color:black">{{langone}}</ion-select-option>
      </ion-select>
    </ion-item>
  </strong>
  <strong style="font-size: 15px; color: black;">
  Kripto Uygulamasına Hoşgeldiniz. Eğer birkaç coin ve token alıp satmak, kendinizi denemek istiyorsanız, doğru yerdesiniz...
  </strong>
  <br>
  <br>
  <div >
  <strong style="font-size: 15px; color: black;">

    Bitcoin logosuna tıklayın ve uygulamaya giriş yapın.<br>
  </strong>
  
  <ion-icon name="arrow-down-circle-sharp" style="font-size: 30px; margin-top: 3px; color: black;"></ion-icon>
<br>
  <button (click)="sendtr()" class="buttona">
    <ion-icon name="logo-bitcoin" style="font-size: 50px; color: white;"></ion-icon>
  </button>
  </div>
</div> 
