<div style="text-align: center; justify-content: center; margin-top: 10%; padding: 5%; ">
  <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX30589983.jpg" style="height: 200px; margin-bottom: 10px;">
  <br>
  <strong >
  WELCOME THE CRYPTO APP. İF ARE YOU WANT TO BUY SOME COİN AND TOKEN, YOU ARE TRUE PLACE.
  </strong>
  <br>
  <br>
  <br>
  <strong >
    CLİCK BİTCOİN AND ENTER THE APP.<br>
  </strong>
  <ion-icon name="arrow-down-circle-sharp" style="font-size: 30px; margin-top: 3px;"></ion-icon>
<br>
  <button [routerLink]="['/search']" routerLinkActive="router-link-active"  style="background-color: black;  margin-top: 5%; height: 23%; width: 30%; border-radius: 50%;">
    <ion-icon name="logo-bitcoin" style="font-size: 50px; color: white;"></ion-icon>
  </button>
</div>
