<div style="text-align: center; justify-content: center;  padding: 5%; background-color: white; height: 100%;">
  <img src="assets/bitcoinimage.jpg" class="imga">
  <br>
  <strong >
    <div class="divimiz">
      <ion-item >
        <ion-input placeholder="What is your name?" type="text" style="text-align: center;" [(ngModel)]="title"></ion-input>
      </ion-item>
    </div>
    <div class="divimiz">
    <ion-item >
      <ion-input placeholder="$$ Write trade money $$" type="number" style="text-align: center;" [(ngModel)]="balance"></ion-input>
    </ion-item>
    </div>
  </strong>
  <strong>
  WELCOME THE CRYPTO APP. İF ARE YOU WANT TO BUY SOME COİN AND TOKEN, YOU ARE TRUE PLACE.
  </strong>
  <br>
  <br>
  <br>
  <div >
  <strong >

    CLİCK BİTCOİN AND ENTER THE APP.<br>
  </strong>
  
  <ion-icon name="arrow-down-circle-sharp" style="font-size: 30px; margin-top: 3px;"></ion-icon>
<br>
  <button (click)="send()" class="buttona">
    <ion-icon name="logo-bitcoin" style="font-size: 50px; color: white;"></ion-icon>
  </button>
  </div>
</div>
