

  <!-- WALLET -->
  <div  id="myBtn"  *ngIf="language=='EN'">
    <ion-row style="text-align: center; justify-content: center; align-items: center; display: flex; " >
      <ion-col style="display: flex;
      margin-top: 8%;
      flex-direction: row;
      align-items: center;
      justify-content:space-between
      ">
        <ion-label style="font-size: 190%; color: white;  margin-left: 5%;">${{(totalValue+balance).toFixed(2)}}</ion-label>
        <div *ngIf="oldbalance>(totalValue+balance)" class="divcan" [ngStyle]="{'background-color': oldbalance>(totalValue+balance) ? 'red' : 'green' }">
        <ion-label style="color: white;" ><strong>Total  <u>{{newbalance.toFixed(2)}}$</u> Loss</strong></ion-label>
        </div>
        <div *ngIf="oldbalance==(totalValue+balance)" class="divcan"  style="width: 150px;">
        <ion-label style="font-size: 12px; color: black; background-color: white; border-radius: 3px; padding: 5px;"><strong>You Currently Have no Loss or Profit.</strong></ion-label>
        </div>
        <div *ngIf="oldbalance<(totalValue+balance)" class="divcan" [ngStyle]="{'background-color': (!oldbalance>(totalValue+balance)) ? 'red' : 'green' }">

        <ion-label style="color: white;" ><strong>Total  <u>{{newbalance.toFixed(2)}}$</u> Profit</strong></ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: start;">
        <ion-label style="font-size: 80%; color: rgb(212, 212, 212); margin-left: 10%;">Total Balance</ion-label><br>
      </ion-col>
      <ion-col>
        <ion-icon name="refresh-circle-outline" (click)="refresh()"  style="font-size: 40px; color: white; float:right; margin-bottom: 2%;margin-right: 1%;" ></ion-icon>
      </ion-col>
    </ion-row>

    <!-- WALLET ALTI BUTONLAR -->
    <ion-row style="margin-top: 7%;" >
      <ion-col >
        <div class="col-1">
        <ion-icon name="bag-add-outline" style="color: white; font-size: 25px;" [routerLink]="['/details/bitcoin']" routerLinkActive="router-link-active" ></ion-icon><br>
        </div>
        <ion-label class="col-2">Buy</ion-label>
      </ion-col>
      <ion-col >
        <div class="col-1">
        <ion-icon name="bag-remove-outline" style="color: white; font-size: 25px; " [routerLink]="['/sell/bitcoin']" routerLinkActive="router-link-active" ></ion-icon><br>
        </div>
        <ion-label class="col-2">Sell</ion-label>
      </ion-col>
      <ion-col >
        <div class="col-1">
        <ion-icon name="cellular-outline" style="color: white; font-size: 25px; " [routerLink]="['/history']" routerLinkActive="router-link-active"></ion-icon><br>
        </div>
        <ion-label class="col-2">History</ion-label>
      </ion-col>
      <ion-col >
        <!-- <div class="col-1">
        <button style="background-color: transparent ;" id="btn" (click)="btncolor()">
        <ion-icon name="contrast-outline" style="color: white; font-size: 25px; "></ion-icon><br>
        </button>
        </div>
        <ion-label class="col-2">Color</ion-label> -->
        <div class="col-1">
          <button style="background-color: transparent ;" >
          <ion-icon name="color-fill-outline" style="color: white; font-size: 25px; " (click)="btncolor()" ></ion-icon><br>
          </button>
          </div>
          <ion-label class="col-2">Color</ion-label>
      </ion-col>
    </ion-row>
  </div>

  <div   id="myBtn"  *ngIf="language=='TR'">
    <ion-row style="text-align: center; justify-content: center; align-items: center; display: flex; " >
      <ion-col style="display: flex;
      margin-top: 8%;
      flex-direction: row;
      align-items: center;
      justify-content:space-between
      ">
        <ion-label style="font-size: 190%; color: white;  margin-left: 5%;">${{(totalValue+balance).toFixed(2)}}</ion-label>
        <div *ngIf="oldbalance>(totalValue+balance)" class="divcan" [ngStyle]="{'background-color': oldbalance>(totalValue+balance) ? 'red' : 'green' }">
        <ion-label style="color: white;" ><strong>Toplam  <u>{{newbalance.toFixed(2)}}$</u> Zarar</strong></ion-label>
        </div>
        <div *ngIf="oldbalance==(totalValue+balance)" class="divcan"  style="width: 150px;">
        <ion-label style="font-size: 12px; color: black; background-color: white; border-radius: 3px; padding: 5px;"><strong>Şuanlık Zararınız veya Kârınız yok.</strong></ion-label>
        </div>
        <div *ngIf="oldbalance<(totalValue+balance)" class="divcan" [ngStyle]="{'background-color': (oldbalance!>(totalValue+balance)) ? 'red' : 'green' }">

        <ion-label style="color: white;" ><strong>Toplam  <u>{{newbalance.toFixed(2)}}$</u> Kâr</strong></ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: start;">
        <ion-label style="font-size: 80%; color: rgb(212, 212, 212); margin-left: 10%;">Toplam Bakiye</ion-label><br>
      </ion-col>
      <ion-col>
        <ion-icon name="refresh-circle-outline" (click)="refresh()"  style="font-size: 40px; color: white; float:right; margin-bottom: 2%;margin-right: 1%;" ></ion-icon>
      </ion-col>
    </ion-row>

    <!-- WALLET ALTI BUTONLAR -->
    <ion-row style="margin-top: 7%;" >
      <ion-col >
        <div class="col-1">
        <ion-icon name="bag-add-outline" style="color: white; font-size: 25px;" [routerLink]="['/details/bitcoin']" routerLinkActive="router-link-active" ></ion-icon><br>
        </div>
        <ion-label class="col-2">Satın al</ion-label>
      </ion-col>
      <ion-col >
        <div class="col-1">
        <ion-icon name="bag-remove-outline" style="color: white; font-size: 25px; " [routerLink]="['/sell/bitcoin']" routerLinkActive="router-link-active" ></ion-icon><br>
        </div>
        <ion-label class="col-2">Sat</ion-label>
      </ion-col>
      <ion-col >
        <div class="col-1">
        <ion-icon name="cellular-outline" style="color: white; font-size: 25px; " [routerLink]="['/history']" routerLinkActive="router-link-active"></ion-icon><br>
        </div>
        <ion-label class="col-2">Geçmiş</ion-label>
      </ion-col>
      <ion-col >
        <!-- <div class="col-1">
        <button style="background-color: transparent ;" id="btn" (click)="btncolor()">
        <ion-icon name="contrast-outline" style="color: white; font-size: 25px; "></ion-icon><br>
        </button>
        </div>
        <ion-label class="col-2">Color</ion-label> -->
        <div class="col-1">
          <button style="background-color: transparent ;" >
          <ion-icon name="color-fill-outline" style="color: white; font-size: 25px; " (click)="btncolor()" ></ion-icon><br>
          </button>
          </div>
          <ion-label class="col-2">Renk</ion-label>
      </ion-col>
    </ion-row>
  </div>

  <ion-progress-bar color="dark" value="1"></ion-progress-bar>

  <!-- WALLET DOWN SİDE -->
  <ion-content style="background-color: white;">

    <div *ngIf="language=='EN'">

    <!-- PRİCE VE PROGRESS BAR -->
      <div style="padding: 3px; background-color: white;">
        <ion-row>
          <ion-col style="text-align: left; font-size: 14px; margin-top: 5px; margin-bottom: 5px; margin-left: 10px; color: black;">Coins</ion-col>
          <ion-col style="text-align: right; font-size: 14px; margin-top: 5px; margin-bottom: 5px; margin-right: 3%; color: black;">Balance:<strong>${{balance.toFixed(2)}}</strong></ion-col>
          <ion-progress-bar color="primary" value="1"></ion-progress-bar>
        </ion-row>
      </div>


        <!--Wallet COİNLERİ LİSTELEME-->
    <ion-list >
      <ion-item *ngFor="let info of xarray" [routerLink]="['/details',info.id]" routerLinkActive="router-link-active" >
        <ion-avatar slot="start">
          <img src="{{info.image}}" />
        </ion-avatar>
        
        <ion-label >
          <h2>{{info.name}}</h2>
          <h3><span >Price: </span><strong >{{info.current_price.toFixed(3)}}$</strong> </h3>
        </ion-label>
        <ion-label style="text-align: right;" >
          <h2><label style="color: brown;"><strong>{{info.amount.toFixed(2)}}</strong></label> {{info.symbol.toUpperCase()}}</h2>
          <h3><strong>{{info.amount*info.current_price.toFixed(2)}}$</strong></h3></ion-label>
      </ion-item>
    </ion-list>
  <!--  -->
    </div>

    <div *ngIf="language=='TR'">

      <!-- PRİCE VE PROGRESS BAR -->
        <div style="padding: 3px;  background-color: white;">
          <ion-row>
            <ion-col  style="text-align: left; font-size: 14px; margin-top: 5px; margin-bottom: 5px; margin-left: 10px; color: black;">Kriptolar</ion-col>
            <ion-col style="text-align: right; font-size: 14px; margin-top: 5px; margin-bottom: 5px; margin-right: 3%; color: black;">Bakiyeniz:<strong>${{balance.toFixed(2)}}</strong></ion-col>
            <ion-progress-bar color="primary" value="1"></ion-progress-bar>
          </ion-row>
        </div>
  
  
          <!--Wallet COİNLERİ LİSTELEME-->
      <ion-list >
        <ion-item *ngFor="let info of xarray" [routerLink]="['/details',info.id]" routerLinkActive="router-link-active" >
          <ion-avatar slot="start">
            <img src="{{info.image}}" />
          </ion-avatar>
          
          <ion-label >
            <h2>{{info.name}}</h2>
            <h3><span >Fiyat: </span><strong >{{info.current_price.toFixed(3)}}$</strong> </h3>
          </ion-label>
          <ion-label style="text-align: right;" >
            <h2><label style="color: brown;"><strong>{{info.amount.toFixed(2)}}</strong></label> {{info.symbol.toUpperCase()}}</h2>
            <h3><strong >{{info.amount*info.current_price.toFixed(2)}}$</strong> </h3>      </ion-label>
        </ion-item>
      </ion-list>
    <!--  -->
      </div>

  </ion-content> 


<ion-footer style="border-top: 1px solid grey;" *ngIf="language=='EN'">
  <div style="background-color: white;">
    <ion-row>

      <ion-col style="text-align: center;"  >
        <ion-icon name="home-outline" style="font-size: 27px; color: black; " [routerLink]="['/folder']" routerLinkActive="router-link-active"></ion-icon><br>
        <ion-label style="font-size: 10px; color: black;"><strong>Home</strong></ion-label>

      </ion-col>
      <ion-col style="text-align: center; " >
        <ion-icon name="search-sharp" style="font-size: 27px; margin-right: 15px; color: black; " [routerLink]="['/search']" routerLinkActive="router-link-active" ></ion-icon><br>
        <ion-label style="font-size: 10px; margin-right: 15px; color: black;"><strong>Search</strong></ion-label>
      </ion-col>

        <ion-col>
          <div style="background-color: black; border-radius: 60%; height: 100%; text-align: center;" [routerLink]="['/details/bitcoin']" routerLinkActive="router-link-active" >
            <ion-icon name="logo-bitcoin" style="color: white; font-size: 40px; margin-top: 3px;"></ion-icon><br>
          </div>
        </ion-col>

      <ion-col style="text-align: center" >
        <a  href="/wallet"><ion-icon name="wallet-outline" style="font-size: 27px;  margin-left: 15px; color: blue;"></ion-icon></a><br>
        <ion-label style=" font-size: 10px; margin-left: 15px; color: blue;"><strong>Wallet</strong></ion-label>
      </ion-col>

      <ion-col style="text-align: center" [routerLink]="['/settings']" routerLinkActive="router-link-active"  >
        <ion-icon name="settings-outline" style="font-size: 27px; color: black;"></ion-icon><br>
        <ion-label style=" font-size: 10px; color: black;"><strong>Settings</strong></ion-label>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>

<ion-footer style="border-top: 1px solid grey;" *ngIf="language=='TR'">
  <div style="background-color: white;">
    <ion-row>

      <ion-col style="text-align: center;"  >
        <ion-icon name="home-outline" style="font-size: 27px; color: black; " [routerLink]="['/folder']" routerLinkActive="router-link-active"></ion-icon><br>
        <ion-label style="font-size: 10px; color: black;"><strong>Anasayfa</strong></ion-label>

      </ion-col>
      <ion-col style="text-align: center; " >
        <ion-icon name="search-sharp" style="font-size: 27px; margin-right: 15px; color: black; " [routerLink]="['/search']" routerLinkActive="router-link-active" ></ion-icon><br>
        <ion-label style="font-size: 10px; margin-right: 15px; color: black;"><strong>Arama</strong></ion-label>
      </ion-col>

        <ion-col>
          <div style="background-color: black; border-radius: 60%; height: 100%; text-align: center;" [routerLink]="['/details/bitcoin']" routerLinkActive="router-link-active" >
            <ion-icon name="logo-bitcoin" style="color: white; font-size: 40px; margin-top: 3px;"></ion-icon><br>
          </div>
        </ion-col>

      <ion-col style="text-align: center" >
        <a  href="/wallet"><ion-icon name="wallet-outline" style="font-size: 27px;  margin-left: 15px; color: blue;"></ion-icon></a><br>
        <ion-label style=" font-size: 10px; margin-left: 15px; color: blue;"><strong>Cüzdan</strong></ion-label>
      </ion-col>

      <ion-col style="text-align: center" [routerLink]="['/settings']" routerLinkActive="router-link-active"  >
        <ion-icon name="settings-outline" style="font-size: 27px; color: black;"></ion-icon><br>
        <ion-label style=" font-size: 10px; color: black;"><strong>Ayarlar</strong></ion-label>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>