<ion-header>
  <ion-toolbar>
    <ion-title>wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <!-- REFRESHER -->
   <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

</ion-content>


<ion-footer>
  <ion-toolbar >
    <ion-row>
      <ion-col style="text-align: center" [routerLink]="['/folder']" routerLinkActive="router-link-active" >
        <ion-icon name="home-sharp" style="font-size: 30px; "></ion-icon><br>
        <ion-label style=" font-size: 10px;"><strong>-- Home --</strong></ion-label>

      </ion-col>
      <ion-col style="text-align: center; " [routerLink]="['/search']" routerLinkActive="router-link-active" >
        <ion-icon name="search-sharp" style="font-size: 30px; "></ion-icon><br>
        <ion-label style=" font-size: 10px;"><strong>-- Search --</strong></ion-label>
      </ion-col>
      <ion-col style="text-align: center; background-color: black;" >
        <ion-icon name="wallet-sharp" style="font-size: 30px; color: white;"></ion-icon><br>
        <ion-label style="color: white; font-size: 10px;"><strong>-- Wallet --</strong></ion-label>

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>