.col-1{
    border-radius: 60%; 
    background-color:rgba(143, 143, 255, 0.692); 
    margin-left: 15px;  
    height: 45px; 
    width: 45px; 
    align-items: center; 
    justify-content: center; 
    display: flex;
}
.col-2{
    font-size: 15px; 
    color: white; 
    text-align: center; 
    justify-content: center; 
    display: flex; 
    margin-top: 8px; 
    margin-right: 7px;
}